body, head{
    margin: 0px;
}

div {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 100px;
    min-width: 60px;
    width: 10%;
    background-color: transparent;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li div {
    background-color: #FF1493;
    height: 90%;
    margin-left: 5%;
    margin-top: 100%;
    width: 90%;
    border-radius: 100%;
    padding-bottom: 90%;
}

#homeicon{
    background-image: url(home.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width:480px){
    li div{
        background-color: aqua;
        opacity: 0;
        margin-left: -90px;
        transition: margin-left 1.1s;
    }
    
    ul:hover li div{
        opacity: 1;
        margin-left: 0px;
    }
}
