a:link    {color:#FF86A3; background-color:transparent; text-decoration:none}
a:visited {color:#FF86A3; background-color:transparent; text-decoration:none}
a:hover   {color:#FF86A3; background-color:transparent; text-decoration:none}
a:active  {color:#FF86A3; background-color:transparent; text-decoration:none}

body {
    background-color: azure;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    margin:0px;
}


h1.mainfont{
    font-family: sans-serif;
    font-size: 80%;
    text-align: center;
    line-height: 20px;
    margin:0px;
}

div.topbar{
    position: fixed;
    width: 100px;
    height: 100px;
    display: flex;
    z-index: 2;
    
    transition: width 4s ease-in-out;
    -moz-transition: width 4s ease-in-out;
    -webkit-transition: width 0.5s ease-in-out;
    
    
}

div.topbar:hover{
    width: 2000px;
    
}

#topwrapper{
}

#topbox{
    width: inherit;
    background-color: #fafafa;
    
    -webkit-box-shadow: 0px 0px 5px 0.2px black;
    -moz-box-shadow: 0px 0px 5px 0.2px black;
    box-shadow: 0px 0px 5px 0.2px black;
    overflow: hidden;
}

div.topitem{
    padding:5px;
    margin-left: 10px;
    
    -moz-border-radius: 90px/90px;
    -webkit-border-radius: 90px 90px;
    border-radius: 90px/90px;

    overflow: hidden;
}

div.toptextbox{
    overflow: hidden;
    margin-top:20px;
    margin-left: 5px;
    
}

#object{
    width:80px;
    height: 80px;
    margin-top: 5px;

    background-color:#00AA01;
}

#topimgbox{
    padding:5px;
    width: 90px;
    height: 90px;
    
    -moz-border-radius: 0px/0px;
    -webkit-border-radius: 0px 0px;
    border-radius: 0px/0px;
}

#mainimg{
    width: inherit;
    height: inherit;
    -moz-border-radius: 90px/90px;
    -webkit-border-radius: 90px 90px;
    border-radius: 90px/90px;
}

#innerimg{
    margin-top:-10%;
    margin-left: -10%;
    width: 120%;
    height: 120%;
}

#name{
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    width:auto;
    
}

#scrollable{
    width:auto;
    height: auto;
    position: relative;
    display: flex;
}


div.content{
    position: absolute;
    margin: 0px;
    height: 100%;
    width: 100%;
}



#contentwrapper{
    margin-top:40px;
    margin-left: 200px;
    height: auto;
    
}

#content1{
    background-color:#fafafa;
    width: 60%;
        -webkit-box-shadow: 0px 0px 5px 0.2px black;
    -moz-box-shadow: 0px 0px 5px 0.2px black;
    box-shadow: 0px 0px 5px 0.2px black;
    
        -moz-border-radius: 10px/10px;
    -webkit-border-radius: 10px 10px;
    border-radius:10px/10px;
    
}
#contentitem{
    width:60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -20px;
    float:left;
}

#timeago{
    height: auto;
    width: auto;
    margin-left: 50px;
    margin-top: -20px;
    float:left;

}